<div class="animated fadeInDown" id="alumnPage">
  <div class="container-fluid">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Documentos</a>
      </li>
      <li class="breadcrumb-item active">Proceso de Matrículas</li>
    </ol>
    <!-- Area Chart Example -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-upload"></i>
        Carga de Documentos de Matrícula
      </div>
      <div class="card-body">
        <div class="control-group p-3 rounded alert-info">
          <label class="label label-default font-weight-bold">A continuación adjunte el archivo pdf donde están los documentos de matrícula firmados en su totalidad. Por favor revise cada uno de los documentos consignados en el archivo que estén todos y se encuentren firmados. Tenga presente que el sistema solo guardará un único archivo por estudiante, por tal motivo si el proceso de carga de archivos se hace en reiteradas ocasiones, solo se conservará el último archivo que se adjunte.</label>
        </div>
        <div class="control-group p-3 rounded">
          <div class="row text-center">
            <div class="col-xl-4">

            </div>
            <div class="col-xl-4">
              <div id="div_link_attached" class="">
                <label class="control-label input-label font-weight-bold" id="label_fileAttached">Adjunte el archivo</label>
                <div class="form-group">
                  <div class="input-group input-file" name="fileAttached">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-choose btn-sm" type="button">Adjuntar</button>
                    </span>
                    <input type="text" class="form-control form-control-sm" placeholder='Escoge el archivo...' />
                    <span class="input-group-btn">
                      <button class="btn btn-warning btn-reset btn-sm" type="button">Limpiar</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">

            </div>
          </div>
        </div>
        <div class="control-group p-3 rounded">
          <div class="row text-center">
            <div class="col-sm-12" id="div_charge">
              <button class="btn btn-sm btn-primary" id="btnCharge">Cargar Documentos <i class="fa fa-upload"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>