<div id="infoGuide" class="m-5 pb-5 border rounded">
	<table width="607" height="153" border="1" align="center">
		<tr>
			<td align="center" bgcolor="#000082"><p class="Estilo1"><br />
				INSTRUCCIONES PARA LA IMPRESIÓN DE LOS DOCUMENTOS DE MATRÍCULA AÑO 2023
			</p>
		</td>
	</tr>
	<tr>
		<td align="center" style="padding: 30px;">
			<table border="1" cellspacing="0" cellpadding="0" width="820" style="font-family: arial;">
				<tr>
					<td width="131" rowspan="2"><p align="center"><img width="45"src="https://www.comunidadvirtualcaa.co/RegAcaCaa/imagenes/escudobnp.jpg"></p></td>
					<td width="567" colspan="3"><p align="center"><strong>CORPORACIÓN SAN ISIDRO - COLEGIO ANGLO AMERICANO</strong></p></td>
				</tr>
				<tr>
					<td width="567" colspan="3"><p align="center"><strong>INFORMACIÓN SOBRE MATRÍCULAS - SERVICIOS - UNIFORMES - FECHAS INCIACIÓN <br>DE CLASES - HORARIO ESCOLAR - TEXTOS y ÚTILES ESCOLARES - COMUNIDAD<br>VIRTUAL y PRESENTACIÓN PERSONAL </strong></p></td>
				</tr>
				<tr>
					<td width="131"><p align="center"><strong>Código: AM.I.17</strong></p></td>
					<td width="197"><p align="center"><strong>Versión: 18</strong></p></td>
					<td width="198"><p align="center"><strong>Fecha: 12/10/22</strong></p></td>
					<td width="172"><p align="center"><strong>Página 1 de 1</strong></p></td>
				</tr>
			</table>
			<br><br>
			<table width="802" height="548" style="font-family: arial;">
				<tr>
					<td colspan="3" style="text-align: justify">

						<p>Se&ntilde;ores Padres de Familia:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10 de Noviembre de 2022</p>
						<p>Reciban un cordial saludo.</p>
						<p>&nbsp;</p>
						<p>Trabajaremos en el a&ntilde;o 2023 con mucho inter&eacute;s, asumiendo con responsabilidad los nuevos retos que la realidad impone para la educaci&oacute;n. <strong><em>Sabemos que educar es m&aacute;s importante que instruir.</em></strong></p>
						<p>Esperamos contar con su colaboraci&oacute;n para tener un di&aacute;logo respetuoso y amable en el momento oportuno, cuando ustedes o el colegio lo consideren necesario.</p>
						<p><strong>Les solicitamos el favor de tener en cuenta las siguientes recomendaciones para el proceso de matr&iacute;cula:</strong></p>
						<p><strong>1. Resumen Actualizaci&oacute;n de datos:</strong></p>
					<p>Revisar cuidadosamente el resumen de la informaci&oacute;n registrada por ustedes en el mes de septiembre, de la Comunidad Virtual - M&oacute;dulo de Matr&iacute;culas  "Actualizaci&oacute;n de Datos"  y verificar que est&eacute; correcta. En caso de detectar errores, ejemplo: Nombre del acudiente, deudor, codeudor, documentos de identidad, lugar de expedici&oacute;n o cualquier inconsistencia, deben enviar un correo al Departamento Admisiones: "admisionesymatriculas@caa.edu.co"  para que les habiliten nuevamente el m&oacute;dulo y puedan realizar las correcciones. <strong><em>Les recordamos que, con </em></strong><strong><em>la actualizaci&oacute;n registrada, se generar&aacute; la documentaci&oacute;n para todos los procesos relacionados con su hijo(a) durante el a&ntilde;o 2023. </em></strong></p>
						<p>&nbsp;</p>
						<p><strong>2. Entrega del sobre de matr&iacute;cula: </strong></p>
						<p><strong>2.1. </strong><strong>Les comunicamos que  la Comunidad Virtual - M&oacute;dulo de Matr&iacute;culas  "Impresi&oacute;n Documentos de Matr&iacute;cula" se habilitar&aacute; a partir de hoy sabado  12 al jueves 17 de noviembre del presente a&ntilde;o.</strong></p>
						<p>2.2. Utilizar los navegadores <u>Mozilla Firefox</u>&nbsp;o&nbsp;<u>Google Chrome</u>.</p>
						<p>2.3. Seleccionar en la configuraci&oacute;n de impresi&oacute;n el tama&ntilde;o de papel <u>Oficio</u>&nbsp;o&nbsp;<u>Folio</u>.</p>
						<p>2.4. Imprimir los siguientes documentos por lado y lado sin omitir la hoja en blanco:</p>
						<ul>
						</ul>
						<ul>
							<li>Informaci&oacute;n sobre la salud del estudiante y solicitud del seguro de accidentes.</li>
							<li>Hoja de matr&iacute;cula.</li>
							<li>Contrato de medias nueves&nbsp;,para estudiantes de prejard&iacute;n a quinto grado. (Si lo solicitan por primera vez)</li>
							<li>Contrato de almuerzo.(Si lo solicitan por primera vez)</li>
							<li>Contrato de transporte.(Si lo solicitan por primera vez)</li>
						</ul>
						<p><strong><u>Nota:</u></strong><strong>&nbsp;<u>Las firmas de los testigos son indispensables en los contratos de Medias Nueves, Almuerzo y Transporte, para evitarles la autenticaci&oacute;n en notar&iacute;a.</u></strong></p>
						<p>2.5.&nbsp;&nbsp;&nbsp; &nbsp;Es de car&aacute;cter obligatorio adjuntar:</p>
						<ul>
							<li>Certificaci&oacute;n de afiliaci&oacute;n a la EPS. (Para estudiantes de todos los grados).</li>
							<li>Fotocopia del carn&eacute; de vacunas (Para estudiantes de Prejard&iacute;n, Jard&iacute;n y Transici&oacute;n)</li>
							<li>Fotocopia de la primera hoja del pasaporte y copia del visado donde se encuentran registrados los datos. (Para estudiantes extranjeros)</li>
						</ul>
						<p>2.6. &nbsp;&nbsp;&nbsp;Verificar que toda la documentaci&oacute;n est&eacute; completa en el sobre, antes de ser enviada con su hijo(a) al <strong><u>Director(a) de Curso</u></strong>.&nbsp;<strong>En caso de faltar alg&uacute;n documento, no se subir&aacute; el recibo de pago de matr&iacute;cula a la Comunidad Virtual.</strong></p>

						<p><strong>3. Fechas en que los Padres de Familia deben enviar con el estudiante, el sobre con los documentos de matr&iacute;cula:</strong></p>
						<ul>
							<li>Martes 15 al viernes 18 de noviembre: Para estudiantes de todos los grados. (Prejard&iacute;n a Und&eacute;cimo)</li>
						</ul>

						<p><strong><u>Nota</u></strong><strong>: <u>Si por alguna raz&oacute;n, no recibimos el sobre de matr&iacute;cula en las fechas anteriormente mencionadas, uno de los padres o el acudiente, deber&aacute; acercarse al colegio para entregarlo en el aula m&uacute;ltiple, en la semana del 21 al 25 de Noviembre en horario de 8:00 a.m. a 2:00 p.m.</u></strong></p>
						<p>&nbsp;</p>
						<p><strong>4. Informaci&oacute;n general de los documentos.</strong></p>
						<p><strong>4.1. Informaci&oacute;n sobre la salud del estudiante y solicitud del seguro de accidentes:</strong></p>
						<p><strong><u>Recuerden que la certificaci&oacute;n de la EPS, no es el mismo documento de la afiliaci&oacute;n a medicina prepagada o caja de compensaci&oacute;n familiar</u></strong><strong>. </strong></p>
						<p>El Consejo Directivo aprob&oacute; seg&uacute;n acta N&ordm; 10 del 28 de Septiembre de 2022, la p&oacute;liza para los estudiantes con la compa&ntilde;&iacute;a Suramericana de Seguros, por valor anual de $60.000.oo.</p>
						<p>Les recordamos que el Seguro de Accidentes es voluntario, pero deben tener presente que los estudiantes que&nbsp;<strong><u>no</u></strong>&nbsp;lo tomen, no podr&aacute;n salir del Colegio a las actividades art&iacute;sticas y deportivas, show de talentos, nataci&oacute;n, primeras comuniones, convivencias, visitas a universidades, etc.</p>
						<p>Esta informaci&oacute;n y la solicitud del Seguro de Accidentes, la debe firmar uno de los dos Padres. Coser&nbsp; a la informaci&oacute;n de la salud, el&nbsp;<strong><u>certificado de afiliaci&oacute;n a la EPS y carn&eacute; de vacunas.</u></strong></p>
						<p><strong>4.2. Hoja de matr&iacute;cula:</strong></p>
						<p>Les informamos que esta hoja hace parte de los libros oficiales del Colegio, por lo tanto, no debe tener tachones ni enmendaduras. La constancia para la retenci&oacute;n en la fuente se expedir&aacute; a nombre de la persona responsable de los pagos. (Deudor)</p>
						<p>Esta hoja la debe firmar uno de los dos Padres y el Estudiante. En preescolar los estudiantes deben colocar la huella del dedo &iacute;ndice derecho en el lugar de la firma.</p>
						<p><strong>4.3. Contrato de medias nueves. (Prejard&iacute;n a Quinto grado):</strong></p>
						<p>El Colegio ofrece este servicio para los estudiantes de preescolar y primaria. Se les sirve un <u>men&uacute; variado y nutritivo</u>, el cual incluye ensalada de frutas, leche, yogurt, milo, gelatina, kumis y jugos de frutas naturales con su respectivo acompa&ntilde;amiento.</p>
						<p>Las razones por las cuales decidimos prestar este servicio son, entre otras: 1) los Padres no siempre disponen de tiempo para organizar una lonchera balanceada; 2) los alimentos enviados llegan fr&iacute;os; 3) los ni&ntilde;os pierden tiempo de recreo en la fila para comprar comestibles en la tienda escolar; 4) compran productos que no cubren sus necesidades nutricionales.</p>
						<p>Este contrato lo deben firmar los Padres, Deudor, Codeudor y dos Testigos. Los Testigos deben diligenciar en letra imprenta el nombre completo, n&uacute;mero de c&eacute;dula, direcci&oacute;n y tel&eacute;fono.</p>
						<p><strong>4.4. Contrato de almuerzo:</strong></p>
						<p>El servicio de almuerzo est&aacute; dirigido por nutricionistas, quienes garantizan una alimentaci&oacute;n balanceada, caliente, apetitosa y que aporta los nutrientes necesarios para una vida sana.</p>
						<p>Este contrato lo deben firmar los Padres, Deudor, Codeudor y dos Testigos. Los testigos deben diligenciar en letra imprenta el nombre completo, n&uacute;mero de c&eacute;dula, direcci&oacute;n y tel&eacute;fono.</p>
						<p><strong>4.5. Contrato de transporte:</strong></p>
						<p>El servicio de transporte tiene a su disposici&oacute;n una excelente flota de buses, monitoreados con tecnolog&iacute;a GPS, cuenta con personal id&oacute;neo y calificado para atender y velar por el bienestar de los estudiantes durante el recorrido, dando cumplimiento al Plan de Movilidad Escolar.</p>
						<p>La informaci&oacute;n relacionada con el n&uacute;mero de ruta, horarios de ma&ntilde;ana y tarde, paradero asignado, nombre y n&uacute;mero de celular de la monitora; ser&aacute; enviada a los correos electr&oacute;nicos de los Padres de Familia.</p>
						<p>Este contrato lo deben firmar los Padres, Deudor, Codeudor y dos Testigos. Los testigos deben diligenciar en letra imprenta el nombre completo, n&uacute;mero de c&eacute;dula, direcci&oacute;n y tel&eacute;fono.</p>
						<p><strong>4.6 Pasaporte:</strong></p>
						<p>Anexar fotocopias de la primera hoja del pasaporte y del visado.&nbsp;<strong>(Para estudiantes extranjeros)</strong></p>
						<p><strong>5. Informaci&oacute;n adicional:</strong></p>
						<p><strong>5.1. </strong><strong>Uniformes:</strong>Con el fin de fortalecer las normas de pulcritud y buena presentaci&oacute;n, queremos recordar la importancia del buen porte del uniforme. Tanto los Padres como la Instituci&oacute;n debemos tener inter&eacute;s en que nuestros ni&ntilde;os y j&oacute;venes tengan el h&aacute;bito de estar bien presentados, proyecten una buena imagen y se sientan orgullosos de portar el uniforme que los distingue como estudiantes Angloamericanistas.</p>
						<p>5.1.1. Les informamos con suficiente anticipaci&oacute;n que durante el a&ntilde;o 2023, Rector&iacute;a, Coordinadoras de Secci&oacute;n, Coordinadoras de Convivencia y todo el personal, daremos el m&aacute;ximo de importancia al cumplimiento de:</p>
						<ul>
							<li>La falda debe usarse m&aacute;ximo cinco (5) cent&iacute;metros arriba de la rodilla.</li>
							<li>La bota del pantal&oacute;n de diario y el de sudadera debe ser recta sin entubar, se debe usar a la altura de la cintura para cubrir la ropa interior.</li>
							<li>Usar media blanca con la sudadera.</li>
							<li>Los zapatos del uniforme de diario deben ser en cuero, tipo colegial de amarrar y mantenerlos  limpios.</li>
							<li>Los tenis deben ser completamente blancos y mantenerlos limpios.</li>
							<li>S&oacute;lo se permite el uso de bufanda, chaqueta, guantes y cachucha, seg&uacute;n modelo del Colegio.</li>
							<li>Todas las prendas del uniforme deben estar marcadas (nombres, apellidos y curso actual) para facilitar la entrega en caso necesario.</li>
						</ul>
						<p>Esperamos que los Padres cumplan con el deber estipulado en el Manual de Convivencia, de revisar cuidadosamente cada d&iacute;a la presentaci&oacute;n personal de su hijo(a) y exijan el cumplimiento de todas las normas relacionadas con el uniforme escolar, para evitar citaciones al Colegio y las correspondientes consecuencias en caso de queja.</p>
						<p><strong><u>Nota</u></strong><strong>:&nbsp;</strong>Los estudiantes de preescolar y 1&deg; deben asistir todos los d&iacute;as con uniforme de educaci&oacute;n f&iacute;sica.</p>
						<p><strong>5.1.2. Uniforme de diario:</strong></p>






						<p style="text-align: center;"><strong>Primaria de 2&deg; a 5&deg;</strong></p>
						<table width="800" border="1">
							<tbody>
								<tr>
									<td style="text-align: center; " width="400">
										<p style="text-align: center;"><strong>Ni&ntilde;as</strong></p>
									</td>
									<td  style="text-align: center; " width="400">
										<p style="text-align: center;"><strong>Ni&ntilde;os</strong></p>
									</td>
								</tr>
								<tr>
									<td   width="400">
										<p><strong>Blusa:&nbsp;</strong>Blanca manga larga con sesgos en color azul, botones contramarcados con el escudo del colegio.</p>
										<p><strong>Su&eacute;ter:&nbsp;</strong>Azul oscuro con el escudo del colegio.</p>
										<p><strong>Falda:&nbsp;</strong>A cuadros azul y verde oscuro con l&iacute;neas blanca y roja.</p>
										<p><strong>Medias:&nbsp;</strong>Media pantal&oacute;n gruesa en color azul oscuro.</p>
										<p><strong>Zapatos:&nbsp;</strong>Tipo colegial de amarrar en cuero de color azul oscuro con suela clara y cordones azules con blanco.</p>
									</td>
									<td  width="400">
									
										<p><strong>Camisa:&nbsp;</strong>Blanca manga larga modelo oxford con las iniciales del colegio en color azul.</p>
										<p><strong>Su&eacute;ter:&nbsp;</strong>Azul oscuro con el escudo del colegio.</p>
										<p><strong>Pantal&oacute;n:&nbsp;</strong>En lino sin prenses color gris oscuro.</p>
										
										<p><strong>Medias:&nbsp;</strong>Azul oscuro.</p>
										
										<p><strong>Zapatos:&nbsp;</strong>Tipo colegial de amarrar en cuero de color azul oscuro con suela negra y cordones azules.</p>
										<p><strong>&nbsp;</strong></p>
									</td>
								</tr>
							</tbody>
						</table>
						<p><strong>&nbsp;</strong></p>
						<p style="text-align: center;"><strong>Bachillerato</strong></p>
						<table  width="800" border="1">
							<tbody>
								<tr>
									<td style="text-align: center; " width="400">
										<p><strong>Ni&ntilde;as</strong></p>
									</td>
									<td  style="text-align: center; " width="400">
										<p><strong>Ni&ntilde;os</strong></p>
									</td>
								</tr>
								<tr>
									<td  width="400">
										<p><strong>Blusa:&nbsp;</strong>Blanca manga larga con sesgos en color azul, botones contramarcados con el escudo del colegio.</p>
										<p><strong>Chaleco:&nbsp;</strong>Azul oscuro con las iniciales del colegio en color blanco.</p>
										<p><strong>Chaqueta:&nbsp;</strong>Azul oscuro con cremallera color n&iacute;quel y escudo del colegio.</p>
										<p><strong>Falda:&nbsp;</strong>A cuadros azul y verde oscuro con l&iacute;neas blanca y roja.</p>
										<p><strong>Medias:&nbsp;</strong>Media pantal&oacute;n gruesa en color azul oscuro.</p>
										<p><strong>Zapatos:&nbsp;</strong>Tipo colegial de amarrar en cuero de color azul oscuro con suela clara y cordones azules con blanco.</p>
									</td>
									<td  width="400">
										<p><strong>Camisa:&nbsp;</strong>Blanca manga larga modelo oxford con las iniciales del colegio en color azul.</p>
										
										<p><strong>Chaleco:&nbsp;</strong>Azul oscuro con las iniciales del colegio en color blanco.</p>
									
										<p><strong>Chaqueta:&nbsp;</strong>Azul oscuro con cremallera color n&iacute;quel y escudo del colegio.</p>
										<p><strong>Pantal&oacute;n:&nbsp;</strong>En lino sin prenses color gris oscuro.</p>
										<p><strong>Medias:&nbsp;</strong>Azul oscuro.</p>
										<p><strong>Zapatos:&nbsp;</strong>Tipo colegial de amarrar en cuero de color azul oscuro con suela negra y cordones azules.</p>
										<p><strong>&nbsp;</strong></p>
									</td>
								</tr>
							</tbody>
						</table>




						<p><strong>5.1.3. Uniforme para educaci&oacute;n f&iacute;sica: </strong>Sudadera de  tres (3) piezas: chaqueta, pantal&oacute;n  y camiseta blanca tipo polo (de preescolar a octavo) y cuello en V, (de 9&deg; a 11&deg;) con las iniciales del Colegio,&nbsp;<strong><u>media media blanca y tenis completamente blancos.</u></strong></p>
						<p>&nbsp;</p>
						<p><strong>5.1.4. Fechas de iniciaci&oacute;n de clases. Preescolar, 1&deg; a 5&ordm;: Lunes 30  de Enero del 2023&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6&ordm; a 11&ordm;: Jueves 19 de enero de 2023 </strong></p>
						<p><strong>5.1.5. Horario escolar:  Lunes a viernes para todos los estudiantes. (Preescolar a und&eacute;cimo)</strong></p>
						<ul>
							<li>Entrada al Colegio: <strong><u>7:30 a.m.</u></strong></li>
							<li>Inicio de actividades escolares o formativas: <strong><u>7:40 a.m.</u></strong></li>
							<li>Finalizaci&oacute;n &uacute;ltima hora de clases preescolar y primaria: 3:30 p.m., bachillerato: 3:35 p.m. Salida de buses: 3:40 p.m.</li>
							<li>Actividades extracurriculares, se realizar&aacute; los d&iacute;as mi&eacute;rcoles en horario de 3:30 a 4:50 p.m.</li>
						</ul>
						<p><strong>5.1.6. Textos y &uacute;tiles escolares: </strong>La lista para cada grado la encontrar&aacute;n a finales de noviembre de 2022,  en la Comunidad Virtual - Modulo Informaci&oacute;n "Lista de &Uacute;tiles".</p>
						<p><strong>5.1.7. Comunidad virtual: </strong>Es deber de los padres: a) por ning&uacute;n motivo permitir que sus hijos conozcan la clave. b) Consultarla diariamente para recibir informaci&oacute;n de: circulares, encuestas, citaciones, informes disciplinarios, cronogramas de evaluaciones diagn&oacute;sticas y bimestrales, seguimientos acad&eacute;micos, boletines de calificaciones, asistencia a enfermer&iacute;a, listas de libros y &uacute;tiles escolares. Igualmente, si desean consultar otra informaci&oacute;n como: men&uacute;s de medias nueves y almuerzo, transporte, comunicarse con personal directivo, docente y administrativo o realizar pagos educativos por PSE.</p>
						<p>&nbsp;</p>
						<p><strong>6. Presentaci&oacute;n personal de los Padres: </strong></p>
						<p>Como parte del proceso formativo y con el prop&oacute;sito de dar ejemplo a los estudiantes, el personal directivo, docente, administrativo y servicios generales, est&aacute;n diariamente bien presentados para hacer el trabajo y atender a los padres de familia en cualquier momento.</p>
						<p>Queremos que los Padres igualmente correspondan y contribuyan a ser ejemplo en la educaci&oacute;n para sus hijos. Por lo tanto, los invitamos a mantener una excelente presentaci&oacute;n cuando asistan al Colegio.</p>
						<p>Es aceptable el d&iacute;a s&aacute;bado una presentaci&oacute;n un poco menos formal. Les recordamos que una indumentaria con sudadera, camiseta y tenis no es la adecuada para presentarse en el Colegio.</p>
						<p>&nbsp;</p>
						<p>Atentamente,</p>
						<p>&nbsp;</p>
						<p><strong>Dpto. de Admisiones</strong></p>
						<p><strong>Corporaci&oacute;n San Isidro</strong></p>
						<p><strong>Colegio Anglo Americano</strong></p>





					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>



</div>



<div class="container" align="center">

<div class="n_container d-none" id="n_container" align="center">
	<table width="1100" >
		<tr>
			<td height="23" bgcolor="#000082"><div align="center" class="Estilo1">INSTRUCCIONES PARA LA IMPRESIÓN DE LOS DOCUMENTOS DE MATRÍCULA AÑO 2022</div></td>
		</tr>
	</table>
		<p>&nbsp;</p>
    	<div id="content" class="bg-default pdfobject-container" style="height: 900px; overflow: hidden;">
    		<embed class="pdfobject" src="views/INSTRUCTIVO_IMPRESION_DOCUMENTOS_MATRICULA_2022.pdf" type="application/pdf" style="overflow: auto; width: 100%; height: 100%;">
    	</div>
</div> 

	<table>
		<p>&nbsp;</p>
		<tr>
			<!-- <td height="23" bgcolor="#000082"><div align="center" class="Estilo1">INFORMACIÓN SEGURO DE ACCIDENTES ESCOLARES AÑO 2022 </div></td>-->
		</tr>
		<tr>
			<!--<td height="23"><p>&nbsp;</p>
				<p><img class="center" src="../images/seguro_accidentes-2022.png" alt="seguro accidentes" width="800" height="1141" /></p>
				<p>&nbsp;</p></td>-->
			</tr>
			<tr> <td height="23" bgcolor="#000082"><div align="center" class="Estilo1">DESCARGA DE DOCUMENTOS MATRÍCULAS AÑO 2023 </div></td> </tr>
		
			</td></tr>
				<div id="nueves" class=" text-center d-none"> 
					&nbsp;
					<p>&nbsp;</p>
					<h5><strong>Nota</strong>: Solicitamos el servicio de medias nueves para nuestro hijo(a) </h5>
					<div class=" justify-content-md-center  btn-group col-sm celValue" data-toggle="buttons">
						
						<label class='btn btn-outline-success btn-sm optionQuestion question' data-val='1'><input class='form-control' type='radio' name='question'><strong> Si </strong> <i class="fa fa-times" aria-hidden="true"></i></label>

						<label class='btn btn-outline-danger btn-sm optionQuestion question' data-val='0'><input class='form-control' type='radio' name='question'><strong> No </strong><i class="fa fa-times" aria-hidden="true"></i></label>

					</div>
					&nbsp;
					<div class="justify-content-md-center  btn-group col-sm" data-toggle="buttons">
						<br><button type="submit" id="enviar"  class="btn btn-info btn-sm" > Enviar <i class="fa fa-floppy-o" ></i></button>
					</div>

				</div>
			</td></tr>

			<tr><td height="23" bgcolor="#FFFFFF">

				<div id="print" align="center" class="d-none">
					
					<p><strong>Les recordamos que a partir del año 2020 se generó un único contrato de Cooperación Educativa, el cual tendrá <u>vigencia por el tiempo que su
						hijo(a) permanezca en el Colegio</u>. De igual manera, los contratos de los servicios de Medias Nueves, Almuerzo y Transporte, 
						si los tomaron durante el año 2022, no están habilitados para la impresión debido a que también son <u>vitalicios.</u>
						 Por lo tanto, no es necesario enviarlos nuevamente en el sobre de Matrícula.</strong></p>
					<p><strong>Nota</strong>: Si requieren tomar los servicios por primera vez, es indispensable enviar un comunicado a los siguientes correos: 
						Medias Nueves y Almuerzo - "admonpria@caa.edu.co", Transporte - "transporte@caa.edu.co". solicitando el servicio y que les habiliten la impresión de los contratos según sea el caso. Recuerden que las firmas de los testigos son indispensables en los contratos, para evitarles la autenticación en notaría. </p>
		
			

					<p>De clic en el siguiente icono para descargar los documentos  con la información que ustedes registraron en la Comunidad Virtual </p>
					<strong><br/>
						<h6 id="titleModalNotice" style="text-align: left;"></h6>
					</strong>
					<p>
						<a href="#"   id="linkDoc" target="_blank"><img src="../imagenes/descargar.png" alt="descargar" width="128" height="128" border="0" />
						</a>
						<strong><br/>
							<h6 id="titleModalLarge" style="text-align: center;"></h6>

							<h6 id="titleModalNotice" style="text-align: center;"></h6>
						</strong></p>
					</div>
				</td>
			</tr>
		</table>
	</div>

