<div id="infoGuide" class="container" align="center">
	<table width="1100" >
		<tr>
			<td height="23" bgcolor="#000082"><div align="center" class="Estilo1">INSTRUCCIONES PARA LA IMPRESIÓN DE LOS DOCUMENTOS DE MATRÍCULA AÑO 2024</div></td>
		</tr>
	</table>
		<p>&nbsp;</p>
    	<div id="content" class="bg-default pdfobject-container" style="height: 900px; overflow: hidden;">
			<div id="date_antiguos" class="bg-default pdfobject-container" style="height: 900px; overflow: hidden;">
    			<embed class="pdfobject" src="../documentos/Admissions/instructivo_antiguos/AMI17_V19.pdf" type="application/pdf" style="overflow: auto; width: 100%; height: 100%;">
			</div>
    	</div>

</div>



<div class="container" align="center">

<div class="n_container d-none" id="n_container" align="center">
	<table width="1100" >
		<tr>
			<td height="23" bgcolor="#000082"><div align="center" class="Estilo1">INSTRUCCIONES PARA LA IMPRESIÓN "DOCUMENTOS DE MATRÍCULA AÑO 2024"</div></td>
		</tr>
	</table>
		<p>&nbsp;</p>
    	<div id="content" class="bg-default pdfobject-container" style="height: 900px; overflow: hidden;">
			<div id="date1" class="bg-default pdfobject-container" style="height: 900px; overflow: hidden;">
    			<embed class="pdfobject" src="../documentos/Admissions/instructivo_nuevos/INSTRUCTIVO_AMI12_V1_2024.pdf" type="application/pdf" style="overflow: auto; width: 100%; height: 100%;">
			</div>
			<div id="date3" class="bg-default pdfobject-container" style="height: 900px; overflow: hidden;">
    			<embed class="pdfobject" src="../documentos/Admissions/instructivo_nuevos/INSTRUCTIVO_IMPRESION_V9.pdf" type="application/pdf" style="overflow: auto; width: 100%; height: 100%;">
			</div>
    	</div>
</div> 

	<table>
		<p>&nbsp;</p>
			<tr> <td height="23" bgcolor="#000082"><div align="center" class="Estilo1">DESCARGA DE DOCUMENTOS MATRÍCULAS AÑO 2024 </div></td> </tr>
		
			</td></tr>
				<div id="nueves" class=" text-center d-none"> 
					&nbsp;
					<p>&nbsp;</p>
					<h5><strong>Nota</strong>: Solicitamos el servicio de medias nueves para nuestro hijo(a) </h5>
					<div class=" justify-content-md-center  btn-group col-sm celValue" data-toggle="buttons">
						
						<label class='btn btn-outline-success btn-sm optionQuestion question' data-val='1'><input class='form-control' type='radio' name='question'><strong> Si </strong> <i class="fa fa-times" aria-hidden="true"></i></label>

						<label class='btn btn-outline-danger btn-sm optionQuestion question' data-val='0'><input class='form-control' type='radio' name='question'><strong> No </strong><i class="fa fa-times" aria-hidden="true"></i></label>

					</div>
					&nbsp;
					<div class="justify-content-md-center  btn-group col-sm" data-toggle="buttons">
						<br><button type="submit" id="enviar"  class="btn btn-info btn-sm" > Enviar <i class="fa fa-floppy-o" ></i></button>
					</div>

				</div>
			</td></tr>

			<tr><td height="23" bgcolor="#FFFFFF">

				<div id="print2" align="center" class="d-none">
					
					<p><span style="color: #ff0000;"><strong>Les recordamos que a partir del a&ntilde;o 2020 se gener&oacute; un &uacute;nico contrato de Cooperaci&oacute;n Educativa, el cual tendr&aacute; <u>vigencia por el tiempo que su hijo(a) permanezca en el Colegio</u>. De igual manera, los contratos de los servicios de Medias Nueves, Almuerzo y Transporte, si los tomaron durante el a&ntilde;o 2023, no est&aacute;n habilitados para la impresi&oacute;n debido a que tambi&eacute;n son <u>vitalicios.</u> Por lo tanto, no es necesario enviarlos nuevamente en el sobre de Matr&iacute;cula.</strong></span></p>
					<p><span style="color: #ff0000;"><strong>Nota</strong>: Si tomar&aacute; los servicios por primera vez, tenga en cuenta que las firmas de los testigos son indispensables en los contratos, para evitarles la autenticació&oacute;n en notar&iacute;a.</span></p>
				</div>
				<div id="print" align="center" class="d-none">
					<p>De clic en el siguiente icono para descargar los documentos  con la información que ustedes registraron en la Comunidad Virtual </p>
					<strong><br/>
						<h6 id="titleModalNotice" style="text-align: left;"></h6>
					</strong>
					<p>
						<button data-toggle="modal" id="linkDoc_DEM"> <img src="../imagenes/descargar.png" width="128" height="128" border="0"/></button>

						<strong><br/>
							<h6 id="titleModalLarge" style="text-align: center;"></h6>

							<h6 id="titleModalNotice" style="text-align: center;"></h6>
						</strong></p>
					</div>
				</td>
			</tr>
		</table>
	</div>



	<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">	
		<form id="formPerfil">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header text-center" style="background-color:#E6E6E6">
			  <h5 class="modal-title text-center" >INFORMACIÓN IMPORTANTE</h5>
			  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">x</button>
			</div>
			<div class="modal-body" style="background-color:#EFFBFB">
				<div class="container" style="max-height:85%; overflow-y: auto; overflow-x: auto;">
					<div class="row p-1">
						<p class="text-justify">Les recordamos que es de carácter obligatorio adjuntar:</p>
						<ul class="text-justify">
							<li>Certificación de afiliación a la EPS. (Para estudiantes de todos los grados)</li>
							<li>Fotocopia de tarjeta de identidad. (Para estudiantes de 7 años en adelante)</li>
							<li>Fotocopia del carné de vacunas. (Para estudiantes de Prejardín, Jardín)</li>
							<li>Fotocopia de la primera hoja del pasaporte y copia del visado donde se encuentran registrados los datos. (Para estudiantes extranjeros)</li>
						</ul>
						<p class="text-justify">De clic sobre el icono para descargar los documentos de matrícula.</p>
					</div>
					<div class="row p-1 d-flex justify-content-center">
						<div class="text-center">
							<p><a target="_blank"   id="linkDoc" ><img style="display: block; margin-left: auto; margin-right: auto;" src="../imagenes/descargar.png" 
								alt="descargar" width="128" height="128" border="0" /></a></p>
						</div>
					</div>
				</div>
			</div>
			</div>
		</form>
	</div></div>

	


	<div class="modal" id="staticBackdropNuevo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-2" aria-labelledby="staticBackdropLabel" aria-hidden="true">	
		<form id="formPerfil">
		<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header text-center" style="background-color:#E6E6E6">
			  <h5 class="modal-title text-center" >INFORMACIÓN IMPORTANTE</h5>
			  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">x</button>
			</div>
			<div class="modal-body" style="background-color:#EFFBFB">
				<div class="container" style="max-height:85%; overflow-y: auto; overflow-x: auto;">
					<div class="row p-1">
						<p class="text-justify">Les recordamos que es indispensable adjuntar a los documentos de matrícula, lo siguiente:</p>
						<ul class="text-justify">
							<li>Certificación de afiliación a la EPS. (Para estudiantes de todos los grados). No es el mismo documento de la afiliación a medicina prepagada o caja de compensación familiar.</li>
							<li>Fotocopia de la tarjeta de identidad para estudiantes de 7 años en adelante.</li>
							<li>Fotocopia del carné de vacunas (Para estudiantes de Prejardín, Jardín).</li>
							<li>Fotocopia de la primera hoja del pasaporte y copia del visado donde se encuentran registrados los datos. (Para estudiantes extranjeros).</li>
							<li>Fotocopia del último boletín y certificado académico, en donde conste que es promovido(a) al grado siguiente. (Aplica para estudiantes que ingresen de 1° a 5° de primaria).</li>
							<li>Certificación del retiro del SIMAT, expedida por el jardín o colegio donde estudia actualmente.</li>
							<li>Fotocopias nítidas del documento de identidad del deudor y codeudor. </li>
						</ul>
						<p class="text-justify">De clic sobre el icono para descargar los documentos de matrícula.</p>
					</div>
					<div class="row p-1 d-flex justify-content-center">
						<div class="text-center">
							<p><a target="_blank"   id="linkDocNuevo" style="cursor: pointer"><img style="display: block; margin-left: auto; margin-right: auto;" src="../imagenes/descargar.png" alt="descargar" width="128" height="128" border="0" /></a></p>
						</div>
					</div>
				</div>
			</div>
			</div>
		</form>
	</div>
</div>

	