<div class="container p-3">
  <div class="row p-3">
    <div class="card">
      <div class="card-header">
        <div class="card_tittle">
          <div class='row'>
            <div class="col-sm-12 col-md-12 col-xl-12 text-center tittleIcon h6 text-dark" >Bienvenidos</div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="text-left">Señores</p>
        <p class="text-left">Padres de Familia</p>
        
        <p class="text-left">Reciban un cordial saludo.</p>
        <p id="dato2 " class="text-justify d-none">Para el diligenciamiento de la información relacionada con el proceso de matrículas, es necesario que sean únicamente los Padres de Familia quienes diligencien este documento. Verifiquen que los datos  sean claros,  reales y completos, recuerden  que con ellos el Colegio generará la documentación de  matrícula y quedará en la base de datos para todos los procesos de su hijo(a)  durante el año. No debe quedar ningún espacio en blanco o diligenciado con puntos, &quot;X&quot; o rayas. </p>
        <p id="dato3" class="text-justify">Para el diligenciamiento de la información relacionada con el proceso de matrículas, es necesario que sean únicamente los Padres de Familia quienes diligencien este documento. Verifiquen que los datos  sean claros,  reales y completos, recuerden  que con ellos el Colegio generará la documentación de  matrícula y quedará en la base de datos para todos los procesos de su hijo(a)  durante el año. No debe quedar ningún espacio en blanco o diligenciado con puntos, &quot;X&quot; o rayas. </p>
        <p class="text-left font-weight-bold" style="text-decoration: underline;">INFORMACIÓN A DILIGENCIAR:</p>
        <p id="dato3" class="text-justify">Antes de comenzar a diligenciar la Actualización de Datos deben tener disponible toda la información relacionada con: <em>Estudiante, Información sobre la salud del estudiante, Grupo familiar, Padres, Servicios a tomar, Acudiente, Persona de contacto en caso de emergencia, Pagos (Deudor - Codeudor), Números de documentos de identidad y lugares de expedición (Estudiante, Padres, Deudor y Codeudor). </em></p>
        <p class="text-left font-weight-bold"><em>Importante:</em></p>
        <ol>
          <li><p class="text-justify">La información registrada del estudiante debe ser igual a la del documento de identidad.</p></li>
          <li><p class="text-justify">Datos del Acudiente y Datos de Emergencia: Personas diferentes a los padres, tengan en cuenta que quienes queden registrados serán contactados por el Colegio cuando no sea posible la comunicación con los padres. </p></li>
          <li><p class="text-justify">La persona que quede registrada como <b>Deudor</b> es la responsable de los pagos en el Colegio, a su nombre se expedirá la constancia para efectos tributarios.</p>
              <p class="text-justify">Tenga en cuenta que, según las nuevas disposiciones tributarias en cuanto a dependencia económica, no es necesario la titularidad del padre.</p>
          </li>
          <li><p class="text-justify">En caso de requerir un cambio en la información después de haber realizado la Actualización de Datos, será necesario enviar un correo a admisionesymatriculas@caa.edu.co para coordinar el proceso a seguir.</p></li>
        </ol>
        <p class="text-left font-weight-bold" style="text-decoration: underline;">DOCUMENTACIÓN REQUERIDA:</p>
        <p><span>Solicitamos actualizar la siguiente documentación en formato digital PDF antes de iniciar el proceso, según corresponda:</span></p>
        <p class="text-left font-weight-bold">
          <ul class="font-weight-bold listaRequisito">
            <li>Tarjeta de identidad. (Para estudiantes de 8 años en adelante).</li>
            <li>Carné de vacunas. (Para estudiantes que cursan actualmente Prejardín y Jardín). </li>
            <li>Para estudiantes extranjeros: Primera hoja del pasaporte y copia del visado donde se encuentran registrados los datos. </li>
          </ul>
        </p>
        <p class="text-justify">Si requiere apoyo para convertir los documentos en PDF de clic <a onclick="vistas_video()" style="color: blue; cursor: pointer;">aquí</a>  o en el link “Como convertir un archivo en PDF” </p>
        <p class="text-left font-weight-bold" style="text-decoration: underline;">SOPORTE Y ASISTENCIA:</p>
        <p class="text-justify">En caso de tener dudas o necesitar asistencia durante el proceso, pueden comunicarse así: </p>
        <p>
          <ul>
              <li>Con el &aacute;rea de Admisiones y Matr&iacute;culas a los n&uacute;meros: 3136980168 - 3242800141</li>
              <li>Con el &aacute;rea de Sistemas al n&uacute;mero: 3174058211.</li>
              <li>Podr&aacute;n contactarnos a trav&eacute;s del correo electr&oacute;nico: admisionesymatriculas@caa.edu.co</li>
              <li>Podr&aacute;n contactarnos a trav&eacute;s de la comunidad virtual &ndash; Comunicaciones</li>
          </ul>
        </p>
        <br>
        <p class="text-left">Agradecemos su colaboración.</p><br>
        <p class="text-left"><strong>Departamento de Admisiones</strong><br><strong>COLEGIO ANGLO AMERICANO </strong></p>
      </div>
    </div>
  </div>
</div>