<div class="p-3">
  <div class="row p-3">
    <div class="card">
      <div class="card-header">
        <div class="card_tittle">
          <div class='row'>
            <div class="col-sm-12 col-md-12 col-xl-12 text-center tittleIcon h6 text-dark" >Finalización del Proceso</div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row alert alert-info">
          <div class="col-md-12">
            <p class="text-justify font-weight-bold">Les solicitamos el favor de revisar detenidamente el resumen de la información registrada por ustedes y al detectar errores podrán realizar las correcciones necesarias dando click en el botón "Anterior."</p>
          </div>
        </div>
        <div class="row p-1">
          <button type="button" id="pgPrev2" class="btn btn-outline-info btn-md">Anterior <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
          <div class="col-md-12 inputGroupContainer">
            <button type="button" id="closeActUp" class="btn btn-primary btn-sm closeActData">Finalizar <i class="fa fa-check" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-md-12">
            <div id="tableSummary"></div>
          </div>
        </div>
        <div class="row alert alert-danger">
          <div class="col-md-12">
            <p class="text-center">Tenga en cuenta que una vez cerrado este módulo no podrán realizar ninguna modificación.</p>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-md-12 inputGroupContainer">
            <button type="button" id="closeActDown" class="btn btn-primary btn-sm closeActData">Finalizar <i class="fa fa-check" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>