<div class='row p-3 d-flex justify-content-center' id='cardInfo'>

  <div class="w-50 card shadow-card">

    <div class="card-header">

      <div class="card_tittle">

        <div class='row'>

          <div class="col-sm-12 col-md-12 col-xl-12 text-center tittleIcon h6 text-dark" >Información básica del estudiante...</div>

        </div>

      </div>

    </div>

    <div class="card-body" >

      <div class="bodyCard">

        <div class="row">

          <div class="col-sm-4 col-md-4 col-xl-4 w-100">

            <img id="image" class="rounded mx-auto d-block w-50" alt="usuario sin foto">

          </div>

          <div class="col-sm-8 col-md-8 col-xl-8">

            <div class="row">

              <div class="w-100">

                <label><strong>Nombre  : </strong></label>

                <label id="name_card"></label>

              </div>

              <div class="w-100" id="dis">

                <label><strong>Curso: </strong></label>

                <label id="course"></label>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<br>

<div class="card-block border border-light p-1">

  <div class="row p-2">

    <div class="col-md-12 mx-auto">

      <div class="row text-center p-2">

        <div class="col-md-12 title">

          <label class="text-center"><span class="label label-default font-weight-bold">Información Personal</span></label>

        </div>

      </div>

    

      <div class="row text-center p-3 bgColorInter">

        <div class="col-md-4">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">Apellidos</span></label>

          <div class="input-group"><input disabled id="last_name_Student" placeholder="Apellido" class="form-control form-control-sm" value="" type="text"></div>

        </div>

        <div class="col-md-4">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">Nombres</span></label>

          <div class="input-group"><input disabled id="name_Student" placeholder="Nombres" class="form-control form-control-sm" value="" type="text"></div>

        </div>

        <div class="col-md-4">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">Fecha de Nacimiento</span></label>

          <div class="input-group"><input disabled id="date_birth" class="form-control form-control-sm" value="" type="date"></div>

        </div>


     
   
      </div>

      <div class="row text-center p-3">

   

        <div class="col-md-3">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">N° de Documento</span></label>

          <div class="input-group"><input disabled id="number_doc" placeholder="# Documento" class="form-control form-control-sm" value="" type="text"></div>

        </div>

        <div class="col-md-3">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">Telefono del Estudiante</span></label>

          <div class="input-group"><input id="tel_Student" placeholder="Celular del Estudiante" class="form-control form-control-sm" value="" type="text"></div>

        </div>

        <div class="col-md-6">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">Direccion del Estudiante</span></label>

          <div class="input-group"><input id="adrres" placeholder="Telefono del Estudiante" class="form-control form-control-sm" value="" type="text"></div>

        </div>
     

      </div>

    
    </div>

  </div>

</div>

<div class="card-block border border-light p-1">

  <div class="row p-2">

    <div class="col-md-12 mx-auto">

      <div class="row text-center p-2">

        <div class="col-md-12 title">

          <label class="text-center"><span class="label label-default font-weight-bold">Información de los Padres de Familia</span></label>

        </div>

      </div>

      <div class="row text-center p-3 bgColorInter">

        <div class="col-md-3">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">Madre</span></label>

          <div class="input-group"><input disabled id="last_name_mother" placeholder=" Madre" class="form-control form-control-sm" value="" type="text"></div>

        </div>

     
        <div class="col-md-3">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">N Documento  Madre</span></label>

          <div class="input-group"><input disabled id="number_doc_mother" placeholder="N Documento de la Madre" class="form-control form-control-sm" value="" type="text"></div>

        </div>

        <div class="col-md-2">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">Celular Madre </span></label>

          <div class="input-group"><input id="cel_mother" placeholder="Celular de la Madre" class="form-control form-control-sm" value="" type="text"></div>

        </div>

        <div class="col-md-4">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">Correo Madre</span></label>

          <div class="input-group"><input id="email_mother" placeholder="Email" class="form-control form-control-sm" value="" type="text" ></div>

        </div>
       


      </div>
      <div class="row text-center p-3 bgColorInter">

        <div class="col-md-3">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">Padre</span></label>

          <div class="input-group"><input disabled id="last_name_father" placeholder="Apellido del padre" class="form-control form-control-sm" value="" type="text"></div>

        </div>



        <div class="col-md-3">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">N Documento  Padre</span></label>

          <div class="input-group"><input disabled id="number_doc_father" placeholder="N Documento del Padre" class="form-control form-control-sm" value="" type="text"></div>

        </div>

        <div class="col-md-2">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">Celular Padre </span></label>

          <div class="input-group"><input id="cel_father" placeholder="Celular del Padre" class="form-control form-control-sm" value="" type="text"></div>

        </div>

        <div class="col-md-4">

          <label class="text-center labelDiv"><span class="label label-default font-weight-bold">Correo Padre</span></label>

          <div class="input-group"><input id="email_father" placeholder="Email del Padre" class="form-control form-control-sm" value="" type="text" ></div>

        </div>

      
        


      </div>

     
    
    </div>

  </div>

</div>

<div class="container p-2">

  <div class="card-block">

    <div class="row text-center">

      <div class="col-md-4 inputGroupContainer">



      </div>

      <div class="col-md-4 inputGroupContainer">

        <button type="button" id="saveData" class="btn btn-primary btn-md btn-block">Guardar <i class="fa fa-floppy-o" aria-hidden="true"></i></button>

      </div>

      <div class="col-md-4 inputGroupContainer">



      </div>

    </div>

  </div>

</div>

