<div class='row p-3 d-flex justify-content-center' id='cardInfo'>
  <div class="w-50 card shadow-card">
    <div class="card-header">
      <div class="card_tittle">
        <div class='row'>
          <div class="col-sm-12 col-md-12 col-xl-12 text-center tittleIcon h6 text-dark" >Información personal</div>
        </div>
      </div>
    </div>
    <div class="card-body" >
      <div class="bodyCard">
        <div class="row">
          <div class="col-sm-4 col-md-4 col-xl-4 w-100">
            <img id="image" class="rounded mx-auto d-block w-50" alt="usuario sin foto">
          </div>
          <div class="col-sm-8 col-md-8 col-xl-8">
            <div class="row">
              <div class="w-100">
                <label><strong>Nombre: </strong></label>
                <label id="name"></label>
              </div>
              <div class="w-100" id="dis">
                <label><strong>Curso: </strong></label>
                <label id="course"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-md-12">
  <div class="card-block">
    <div class="row p-2">
      <div class="col-md-12 mx-auto">
        <ul class="nav nav-tabs nav-justified">
          <li class="nav-item">
            <a class="nav-link tabInfo active" href="#" id="initial">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tabInfo" href="#" id="student">Datos Estudiante</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tabInfo" href="#" id="parents">Datos Padres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tabInfo" href="#" id="additional">Datos Adicionales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tabInfo" href="#" id="financial">Datos Financieros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link tabInfo" href="#" id="summary">Resumen</a>
          </li>
        </ul>
        <div class="" id="tabinitial"></div>
        <div class="text-center d-none" id="tabstudent"></div>
        <div class="text-center d-none" id="tabparents"></div>
        <div class="text-center d-none" id="tabadditional"></div>
        <div class="text-center d-none" id="tabfinancial"></div>
        <div class="text-center d-none" id="tabsummary"></div>
      </div>
    </div>
  </div>
</div>
<div class="container p-2">
  <div class="card-block">
    <div class="row text-center">
      <div class="col-md-4 inputGroupContainer">
        <button type="button" id="pgPrev" class="btn btn-outline-info btn-md ">Anterior <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
      </div>
      <div class="col-md-4 inputGroupContainer">
        <button type="button" id="saveData" class="btn btn-primary btn-md btn-block">Guardar <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
      </div>
      <div class="col-md-4 inputGroupContainer">
        <button type="button" id="pgNext" class="btn btn-outline-info btn-md ">Siguiente <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>