<div class="card text-center" id='cardElectronicSignature' style="padding-top:2rem">
  <h2 class="card-title ">Firma Electrónica</h2>
  <div class="card-body">
    <video src='../documentos/Admissions/images/Firma_electronica.mp4' autoplay controls class="responsive-video"></video>
  </div>
  <div class="card-fooder" id="bodyElectronic"></div>
</div>

<style>
  .responsive-video {
    width: 100%;
    max-width: 900px; /* Tamaño máximo para pantallas grandes */
    height: auto; /* Mantiene la relación de aspecto */
    margin: 0 auto; /* Centra el video */
  }
</style>

