<div class="container p-3">
  <div class="row p-3">
    <div class="card">
      <div class="card-header alert alert-success">
        <div class="card_tittle">
          <div class='row'>
            <div class="col-sm-12 col-md-12 col-xl-12 text-center tittleIcon h6 text-dark" >Autorización para el manejo de la Información</div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="text-center"></p>
        <p class="text-justify">De acuerdo con la Ley Estatutaria 1581 de 2012 y el Decreto 1377 de 2013 de Habeas Data (Protección de Datos Personales), los cuales tienen por objeto “Desarrollar el derecho constitucional que tienen todas las personas a conocer, actualizar y rectificar la información que se haya recogido sobre ellas en bases de datos o archivos”, autorizo como titular de mis datos y los de mi hijo(a) a la CORPORACIÓN SAN ISIDRO – COLEGIO ANGLO AMERICANO, para que realice el manejo de la información que se encuentra en la base de datos, únicamente para fines pertinentes de la Institución en lo referente a la relación contractual y me comprometo a conocer y dar cumplimiento al Manual de Políticas y Procedimientos implementado por la CORPORACIÓN SAN ISIDRO – COLEGIO ANGLO AMERICANO, en donde se consagran los derechos y deberes como Padres de Familia, Acudiente, Deudor y Codeudor. Declaro haber leído la información anterior y estar conforme con la misma.</p>
      </div>
    </div>
  </div>
</div>