<div class="container p-3">
  <div class="row p-3">
    <div class="card">
      <div class="card-header">
        <div class="card_tittle">
          <div class='row'>
            <div class="col-sm-12 col-md-12 col-xl-12 text-center tittleIcon h6 text-dark" >Bienvenidos</div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row p-1">
          <div class="col-md-12">  
            <p class="text-justify">Estimados Padres de Familia</p>
            <p class="text-justify">El colegio les recomienda que sus hijos tomen el servicio de transporte escolar por las siguientes razones:</p>
            <ol type="a">
              <li><p class="text-justify">La seguridad de los estudiantes se ve afectada al esperar el transporte en la calle, siendo la 170 una vía insegura y peligrosa.</p></li>
              <li><p class="text-justify">El vandalismo que se presenta en el sector pone en riesgo la seguridad de los estudiantes.</p></li>
              <li><p class="text-justify">Evita que personas inescrupulosas aborden a los estudiantes para la distribución de sustancias que atenten contra su integridad.</p></li>
              <li><p class="text-justify">Las rutas escolares cubrirán el servicio de las actividades extracurriculares, de los días miércoles y jueves sin costo adicional.</p></li>
            </ol>
            <p class="text-justify font-weight-bold">A continuación, les damos a conocer el <u>Reglamento para estudiantes que no toman el servicio de transporte con el colegio</u>:</p>
            <ol>
              <li><p class="text-justify">No se permite el ingreso de vehículos particulares para dejar o recoger estudiantes y deberá dejarlo bajo su responsabilidad sobre la calle 170. </p></li>
              <li><p class="text-justify">Para ingresar al colegio, los niños deben presentar en la portería el carné que utilizaron el año pasado y que los identifica como alumnos del colegio. Los estudiantes nuevos recibirán el carné en el transcurso de la semana siguiente a la iniciación de clases.</p></li>
              <li><p class="text-justify">Todos los estudiantes deben llegar entre las 7:20 y las 7:35 a.m. Los padres de los estudiantes que lleguen después de la hora estipulada serán citados por Coordinación de Convivencia.</p></li>
              <li><p class="text-justify">Para una mayor organización la Institución tiene en las porterías, personal asignado para recibir a los niños y realizar los protocolos de bioseguridad.</p></li>
              <li><p class="text-justify">Los estudiantes de preescolar y primaria deben ingresar y salir por la portería de primaria (calle 170 # 8-80) y los de bachillerato por la puerta peatonal ubicada sobre la calle 170, entre las dos porterías.</p></li>
              <li><p class="text-justify">Los niños de Prejardín, Jardín, Transición y Primero serán llevados en la mañana por una auxiliar de preescolar hasta su salón de clase y en la tarde hasta la portería.</p></li>
              <li><p class="text-justify">Los estudiantes de 2&deg; a 11&deg;, deberán ingresar solos y dirigirse inmediatamente a su salón de clase.</p></li>
              <li><p class="text-justify">En la tarde, los padres deberán esperar a que el personal encargado de la Institución habilite a las 3:30 p.m., las puertas peatonales y entreguen los estudiantes. Únicamente se permitirá la salida de los estudiantes cuando esté la persona autorizada para recogerlos, previa verificación del documento de identidad. El estudiante podrá salir solo, sí el padre de familia lo autoriza en el desprendible adjunto de este reglamento.</p></li>
              <li><p class="text-justify">Tener en cuenta que los estudiantes estarán vigilados hasta las 3:40 p.m., a partir de esta hora el Colegio no asumirá ninguna responsabilidad y serán dejados en la portería correspondiente. Los padres que lleguen posteriormente serán citados al colegio por las Coordinadoras de Convivencia.</p></li>
              <li><p class="text-justify">Los estudiantes que se transportan en bus urbano o salen a pie, por seguridad deben desplazarse enseguida a su casa.</p></li>
              <li><p class="text-justify">En época de lluvias los estudiantes de preescolar y primaria, deben portar el impermeable. Los padres podrán ingresar al colegio a recoger a los estudiantes de preescolar y primaria al frente del aula múltiple, únicamente en la tarde y si la lluvia es muy fuerte; previa comunicación del personal encargado de la portería.</p></li>
              <li><p class="text-justify">Los estudiantes que tomen clases extracurriculares los días miércoles y jueves deberán ser recogidos por los padres en la portería de bachillerato de 4:50 a 5:00 p.m.</p></li>
            </ol>
            <p class="text-center font-weight-bold"><u>PARA EVITAR CONGESTIONES POR EL INGRESO Y SALIDA DE LOS BUSES DEL COLEGIO, ES IMPORTANTE TENER EN CUENTA QUE NO SE PERMITE EL PARQUEO DE VEHÍCULOS A LA ENTRADA DE LAS PORTERÍAS.</u></p>
            <!-- <p class="text-justify"><span class="font-weight-bold">Nota:</span> Les recordamos que los estudiantes que no utilizan el servicio de transporte con el Colegio no podrán tomar las rutas de actividades de estudio dirigido y extracurriculares de los días miércoles. El transporte de los estudiantes después de estas jornadas será por cuenta de los padres de familia y deberán ser recogidos en la portería de bachillerato desde las 5:00 hasta las 5:15 p.m., después de esta hora el Colegio no asumirá ninguna responsabilidad y serán dejados en la portería de bachillerato</u></p>
            <p class="text-justify font-weight-bold"><u>Para evitar congestiones por el ingreso y salida de los buses del colegio, es importante tener en cuenta que no se permitirá el ingreso ni el parqueo de vehículos en la entrada de la portería de primaria.</u></p> -->
            <p class="text-justify">Atentamente,</p>
            <p class="text-justify"><strong>COLEGIO ANGLO AMERICANO </strong></p>
            <hr class="style2">
            <p class="text-justify">Dejamos constancia que conocemos el reglamento para estudiantes que no toman el servicio de transporte con el colegio y que debemos presentar el documento de identidad para la entrega de nuestro(a) hijo(a). Asistiremos a la citación de la Coordinadora de Convivencia, en caso de no cumplir con los horarios estipulados. Sabemos que el colegio no asume ninguna responsabilidad de vigilancia después de las 3:40 p.m.</p>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-md-12 title labelDiv modalDiv" id="label_authPersonal"><span class="label label-default font-weight-bold">Autorizamos a nuestro(a) hijo(a) para que pueda salir solo(a) del colegio</span></div>
        </div>
        <div class="row p-1 text-center">
          <div class="col-md-12 inputGroupContainer">
            <div class="btn-group" data-toggle="buttons">
              <label class='btn btn-outline-success btn-sm btnTransport authPersonal' data-val='Si'><input class='form-control' type='radio' name='authPersonal'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
              <label class='btn btn-outline-danger btn-sm btnTransport authPersonal' data-val='No'><input class='form-control' type='radio' name='authPersonal'>No <i class="fa fa-times" aria-hidden="true"></i></label>
            </div>
          </div>
        </div>
        <div class="animated fadeInDown d-none" id="div_authPersonal">
          <div class="row p-1">
            <div class="col-md-6 title labelDiv modalDiv" id="label_authName"><span class="label label-default font-weight-bold">Persona(s) autorizada(s) para recoger al(los) Estudiante</span></div>
            <div class="col-md-3 title labelDiv modalDiv" id="label_authDoc"><span class="label label-default font-weight-bold">Número de Documento</span></div>
            <div class="col-md-3 title labelDiv modalDiv" id="label_authMobile"><span class="label label-default font-weight-bold">N° de Celular</span></div>
          </div>
          <div class="row p-1">
            <div class="col-md-6 inputGroupContainer">
              <div class="input-group"><input id="authName" placeholder="Nombre Completo" class="form-control form-control-sm" value="" type="text"></div>
            </div>
            <div class="col-md-3 inputGroupContainer">
              <div class="input-group"><input id="authDoc" placeholder="N° de Documento" class="form-control form-control-sm" value="" type="text"></div>
            </div>
            <div class="col-md-3 inputGroupContainer">
              <div class="input-group"><input id="authMobile" placeholder="Celular" class="form-control form-control-sm" value="" type="text"></div>
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-12 title labelDiv modalDiv" id="label_typeTransport"><span class="label label-default font-weight-bold">Medio de Transporte</span></div>
          </div>
          <div class="row p-1 text-center">
            <div class="col-md-12 inputGroupContainer">
              <div class="btn-group" data-toggle="buttons">
                <label class='btn btn-outline-success btn-sm typeTransport' data-val='car'><input class='form-control' type='radio' name='typeTransport'>Carro <i class="fa fa-car" aria-hidden="true"></i></label>
                <label class='btn btn-outline-success btn-sm typeTransport' data-val='walk'><input class='form-control' type='radio' name='typeTransport'>A Pie <i class="fa fa-user" aria-hidden="true"></i></label>
                <label class='btn btn-outline-success btn-sm typeTransport' data-val='bus'><input class='form-control' type='radio' name='typeTransport'>Bus <i class="fa fa-bus" aria-hidden="true"></i></label>
                <!-- <label class='btn btn-outline-success btn-sm typeTransport' data-val='route_ext'><input class='form-control' type='radio' name='typeTransport'>Particular <i class="fa fa-subway" aria-hidden="true"></i></label> -->
              </div>
            </div>
          </div>
          <div class="row p-1 text-center">
            <div class="col-md-12 title">
              <span class="label label-default font-weight-bold">¿Desea agregar una segunda persona autorizada?</span>
            </div>
          </div>
          <div class="row p-1 text-center">
            <div class="col-md-12 inputGroupContainer">
              <div class="btn-group" data-toggle="buttons">
                <label class='btn btn-outline-success btn-sm add_person_1 personAdd' data-val='Si'><input class='form-control' type='radio' name='add_person_1'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
                <label class='btn btn-outline-danger btn-sm add_person_1 personAdd active' data-val='No'><input class='form-control' type='radio' name='add_person_1'>No <i class="fa fa-times" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div class="animated fadeInDown d-none" id="div_collect_1">
            <div class="row p-1">
              <div class="col-md-12 title"><span class="label label-default font-weight-bold">Segunda Persona Adicional</span></div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-6 title labelDiv modalDiv" id="label_authName_1"><span class="label label-default font-weight-bold">Persona autorizada para recoger al Estudiante</span></div>
              <div class="col-md-3 title labelDiv modalDiv" id="label_authDoc_1"><span class="label label-default font-weight-bold">N° de Documento</span></div>
              <div class="col-md-3 title labelDiv modalDiv" id="label_authMobile_1"><span class="label label-default font-weight-bold">N° de Celular</span></div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-6 inputGroupContainer">
                <div class="input-group"><input id="authName_1" placeholder="Nombre Completo" class="form-control form-control-sm" value="" type="text"></div>
              </div>
              <div class="col-md-3 inputGroupContainer">
                <div class="input-group"><input id="authDoc_1" placeholder="Documento" class="form-control form-control-sm" value="" type="text"></div>
              </div>
              <div class="col-md-3 inputGroupContainer">
                <div class="input-group"><input id="authMobile_1" placeholder="Celular" class="form-control form-control-sm" value="" type="text"></div>
              </div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-12 title">
                <span class="label label-default font-weight-bold">¿Desea agregar una tercera persona autorizada?</span>
              </div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-12 inputGroupContainer">
                <div class="btn-group" data-toggle="buttons">
                  <label class='btn btn-outline-success btn-sm add_person_2 personAdd' data-val='Si'><input class='form-control' type='radio' name='add_person_2'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
                  <label class='btn btn-outline-danger btn-sm add_person_2 personAdd active' data-val='No'><input class='form-control' type='radio' name='add_person_2'>No <i class="fa fa-times" aria-hidden="true"></i></label>
                </div>
              </div>
            </div>
          </div>
          <div class="animated fadeInDown d-none" id="div_collect_2">
            <div class="row p-1">
              <div class="col-md-12 title"><span class="label label-default font-weight-bold">Tercera Persona Adicional</span></div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-6 title labelDiv modalDiv" id="label_authName_2"><span class="label label-default font-weight-bold">Persona autorizada para recoger al Estudiante</span></div>
              <div class="col-md-3 title labelDiv modalDiv" id="label_authDoc_2"><span class="label label-default font-weight-bold">N° de Documento</span></div>
              <div class="col-md-3 title labelDiv modalDiv" id="label_authMobile_2"><span class="label label-default font-weight-bold">N° de Celular</span></div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-6 inputGroupContainer">
                <div class="input-group"><input id="authName_2" placeholder="Nombre Completo" class="form-control form-control-sm" value="" type="text"></div>
              </div>
              <div class="col-md-3 inputGroupContainer">
                <div class="input-group"><input id="authDoc_2" placeholder="Documento" class="form-control form-control-sm" value="" type="text"></div>
              </div>
              <div class="col-md-3 inputGroupContainer">
                <div class="input-group"><input id="authMobile_2" placeholder="Celular" class="form-control form-control-sm" value="" type="text"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
