<div class="container p-3">
  <div class="row p-3">
    <div class="card">
      <div class="card-header">
        <div class="card_tittle">
          <div class='row'>
            <div class="col-sm-12 col-md-12 col-xl-12 text-center tittleIcon h6 text-dark" >Bienvenidos</div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row p-1">
          <div class="col-md-12">  
            <p class="text-justify">Reciban un cordial saludo. </p>
            <p class="text-justify">Nos permitimos dar a conocer algunos aspectos importantes que deben tener en cuenta, al no tomar el servicio de transporte escolar con el Colegio: </p>
            <ol type="a">
              <li><p class="text-justify">La seguridad de los estudiantes se ve afectada al esperar el transporte en la calle, siendo la 170 una vía insegura y peligrosa. </p></li>
              <li><p class="text-justify">El vandalismo que se presenta en el sector pone en riesgo la seguridad de los estudiantes y acompañantes. </p></li>
              <li><p class="text-justify">Personas inescrupulosas y vendedores ambulantes pueden abordar a los estudiantes para la distribución de sustancias que atentan contra su integridad. </p></li>
            </ol>
            <p class="text-justify">Les recordamos que el servicio de transporte recoge y deja a los estudiantes en la dirección de su residencia o en el paradero más cercano. Las rutas escolares cubren el servicio de las actividades extracurriculares de los días miércoles y jueves sin costo adicional.</p>
            <p class="text-justify">A continuación, encuentra el reglamento para estudiantes que no toman el servicio de Transporte con el Colegio, les solicitamos realizar lo siguiente:</p>
            <ol>
              <li><p class="text-justify">Leer el Reglamento detenidamente. </p></li>
              <li><p class="text-justify">Diligenciar la información solicitada en este reglamento y dar clic en aceptar, tenga en cuenta que la información diligenciada hará parte de los documentos del proceso para las firmas digitales.</p></li>
              <!-- <li><p class="text-justify">Registrar la firma digital en la respuesta a esta circular, como constancia de aprobación.</p></li> -->
            </ol>
            <p class="text-center font-weight-bold">REGLAMENTO PARA ESTUDIANTES QUE NO TOMAN EL SERVICIO DE TRANSPORTE CON EL COLEGIO EN EL AÑO 2025 </p>

            <ol>
              <li><p class="text-justify">No se permite el ingreso de vehículos particulares para dejar o recoger estudiantes.</p></li>
              <li><p class="text-justify">Los padres o acudientes que vienen en vehículo deberán dejarlo sobre la calle 170, bajo su responsabilidad.</p></li>
              <li><p class="text-justify">Los estudiantes antiguos para ingresar y salir del colegio, desde el primer día de clase deben presentar en la portería el carné que utilizaron durante el año lectivo anterior y que los identifica como alumnos del colegio y recibirán el nuevo carné dentro de las tres semanas siguientes al ingreso a clase.</p></li>
              <li><p class="text-justify">Para los estudiantes nuevos el ingreso se controlará con los listados del colegio y recibirán el carné en el transcurso de la semana siguiente a la iniciación de clases.</p></li>
              <li><p class="text-justify">Todos los estudiantes deben llegar entre las 7:15 a.m. y las 7:35 a.m. <u><b>sin excepción</b></u>. Los padres de los estudiantes que lleguen después de la hora estipulada serán citados por Coordinación de Convivencia.</p></li>
              <li><p class="text-justify">Para una mayor organización, la Institución tiene en las porterías personal asignado para recibir a los niños.</p></li>
              <li><p class="text-justify">Los estudiantes de preescolar y primaria deben ingresar y salir por la portería de primaria (calle 170 # 8-80) y los de bachillerato por la puerta peatonal ubicada sobre la calle 170, entre las dos porterías.</p></li>
              <li><p class="text-justify">Los niños de Prejardín, Jardín, Transición y 1°, serán llevados en la mañana por una auxiliar de preescolar hasta su salón de clase y en la tarde se entregan en el aula múltiple.</p></li>
              <li><p class="text-justify">Los estudiantes de 2º a 11º, deberán ingresar solos y dirigirse inmediatamente a su salón de clase.</p></li>
              <li><p class="text-justify">En la tarde, los padres deberán esperar a que el personal encargado de la Institución habilite las puertas peatonales; la entrega de los estudiantes de preescolar es a las 3:15 p.m., los de primaria y bachillerato a las 3:30 p.m. Únicamente se permitirá la salida de los estudiantes cuando esté la persona autorizada para recogerlos y deberán presentar el documento de identidad en físico. El estudiante podrá salir solo si el padre de familia lo autoriza en este Reglamento y presentando el carné estudiantil.</p></li>
              <li><p class="text-justify">En la puerta peatonal de bachillerato los estudiantes deberán hacer dos filas: una para los que salen solos y otra los que son recogidos por los padres o acudientes, para facilitar la verificación de la información.</p></li>
              <li><p class="text-justify">Para recoger a los estudiantes, los padres de familia o acudientes deberán ingresar en fila, de manera ordenada, presentar el documento de identidad para ser escaneado. Los que ingresan por primaria deberán dirigirse al aula múltiple y los que llegan por la puerta peatonal de bachillerato podrán ingresar y permanecer únicamente en el área asignada. <b>NOTA:</b> Es importante contar con la colaboración de los padres y estudiantes para la lectura del documento de identidad y del carné estudiantil en la portería, con el fin de verificar la información y autorizar la salida de los niños.</p></li>
              <li><p class="text-justify">Tener en cuenta que los estudiantes estarán vigilados hasta las 3:45, a partir de esta hora el Colegio no asumirá ninguna responsabilidad y serán dejados en la portería correspondiente. Los padres que lleguen posteriormente serán citados al colegio por las Coordinadoras de Convivencia.</p></li>
              <li><p class="text-justify">Los estudiantes que se transportan en bus urbano o salen a pie, por seguridad deben desplazarse enseguida a su casa.</p></li>
              <li><p class="text-justify">En época de lluvias los estudiantes de preescolar y primaria, deben portar el impermeable. Los padres que lleguen en carro podrán ingresar hasta el parqueadero frente al aula múltiple a recoger a los estudiantes únicamente si la lluvia es fuerte; previa autorización del Colegio y después de que hayan salido las rutas escolares.</p></li>
              <li><p class="text-justify">Los estudiantes que tomen clases extracurriculares los miércoles y jueves deberán ser recogidos por los padres en la puerta peatonal de bachillerato en el horario de 4:50 a 5:00 p.m. Si el estudiante es de ruta, pero no hará uso de esta, se debe tramitar el permiso de salida en la oficina correspondiente antes de las 11:30 a.m.</p></li>
              <li><p class="text-justify">Por políticas del colegio, los niños menores de 14 años no podrán salir solos. Recuerde que es responsabilidad de los padres y acudientes la seguridad de todos los estudiantes que salen solos del colegio.</p></li>
            </ol>
            <p class="text-center font-weight-bold">PARA EVITAR CONGESTIONES POR EL INGRESO Y SALIDA DE LOS BUSES DEL COLEGIO, ES IMPORTANTE TENER EN CUENTA QUE <u>NO SE PERMITE EL PARQUEO DE VEHÍCULOS A LA ENTRADA DE LAS PORTERÍAS.</u></p>
            <p class="text-justify">Atentamente,</p>
            <p class="text-justify"><strong>COLEGIO ANGLO AMERICANO </strong></p>
            <hr class="style2">
            <p class="text-justify">Dejamos constancia que conocemos el reglamento para estudiantes que no toman el servicio de transporte con el colegio y que debemos presentar el documento de identidad para la entrega de nuestro(a) hijo(a). Asistiremos a la citación de la Coordinadora de Convivencia, en caso de no cumplir con los horarios estipulados. Sabemos que el colegio no asume ninguna responsabilidad de vigilancia después de las 3:45 p.m.</p>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-md-12 title labelDiv modalDiv" id="label_authPersonal"><span class="label label-default font-weight-bold">Autorizamos a nuestro(a) hijo(a) para que pueda salir solo(a) del colegio</span></div>
        </div>
        <div class="row p-1 text-center">
          <div class="col-md-12 inputGroupContainer">
            <div class="btn-group" data-toggle="buttons">
              <label class='btn btn-outline-success btn-sm btnTransport authPersonal' data-val='Si'><input class='form-control' type='radio' name='authPersonal'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
              <label class='btn btn-outline-danger btn-sm btnTransport authPersonal' data-val='No'><input class='form-control' type='radio' name='authPersonal'>No <i class="fa fa-times" aria-hidden="true"></i></label>
            </div>
          </div>
        </div>
        <div class="animated fadeInDown d-none" id="div_authPersonalSi">
          <div class="row p-1">
            <p class="text-justify font-weight-bold" style="color: red;">POR POLÍTICAS DEL COLEGIO, LOS NIÑOS MENORES DE 14 AÑOS NO PODRÁN SALIR SOLOS RECUERDE QUE ES RESPONSABILIDAD DE LOS PADRES Y ACUDIENTES LA SEGURIDAD DE TODOS LOS ESTUDIANTES QUE SALEN SOLOS DEL COLEGIO.</p>
          </div>
        </div>
        <div class="animated fadeInDown d-none" id="div_authPersonal">
          <div class="row p-1">
            <div class="col-md-6 title labelDiv modalDiv" id="label_authName"><span class="label label-default font-weight-bold">Persona(s) autorizada(s) para recoger al(los) Estudiante</span></div>
            <div class="col-md-3 title labelDiv modalDiv" id="label_authDoc"><span class="label label-default font-weight-bold">Número de Documento</span></div>
            <div class="col-md-3 title labelDiv modalDiv" id="label_authMobile"><span class="label label-default font-weight-bold">N° de Celular</span></div>
          </div>
          <div class="row p-1">
            <div class="col-md-6 inputGroupContainer">
              <div class="input-group"><input id="authName" placeholder="Nombre Completo" class="form-control form-control-sm" value="" type="text"></div>
            </div>
            <div class="col-md-3 inputGroupContainer">
              <div class="input-group"><input id="authDoc" placeholder="N° de Documento" class="form-control form-control-sm" value="" type="text"></div>
            </div>
            <div class="col-md-3 inputGroupContainer">
              <div class="input-group"><input id="authMobile" placeholder="Celular" class="form-control form-control-sm" value="" type="text"></div>
            </div>
          </div>
          <div class="row p-1">
            <div class="col-md-12 title labelDiv modalDiv" id="label_typeTransport"><span class="label label-default font-weight-bold">Medio de Transporte</span></div>
          </div>
          <div class="row p-1 text-center">
            <div class="col-md-12 inputGroupContainer">
              <div class="btn-group" data-toggle="buttons">
                <label class='btn btn-outline-success btn-sm typeTransport' data-val='car'><input class='form-control' type='radio' name='typeTransport'>Carro <i class="fa fa-car" aria-hidden="true"></i></label>
                <label class='btn btn-outline-success btn-sm typeTransport' data-val='walk'><input class='form-control' type='radio' name='typeTransport'>A Pie <i class="fa fa-user" aria-hidden="true"></i></label>
                <label class='btn btn-outline-success btn-sm typeTransport' data-val='bus'><input class='form-control' type='radio' name='typeTransport'>Bus <i class="fa fa-bus" aria-hidden="true"></i></label>
                <!-- <label class='btn btn-outline-success btn-sm typeTransport' data-val='route_ext'><input class='form-control' type='radio' name='typeTransport'>Particular <i class="fa fa-subway" aria-hidden="true"></i></label> -->
              </div>
            </div>
          </div>
          <div class="row p-1 text-center">
            <div class="col-md-12 title">
              <span class="label label-default font-weight-bold">¿Desea agregar una segunda persona autorizada?</span>
            </div>
          </div>
          <div class="row p-1 text-center">
            <div class="col-md-12 inputGroupContainer">
              <div class="btn-group" data-toggle="buttons">
                <label class='btn btn-outline-success btn-sm add_person_1 personAdd' data-val='Si'><input class='form-control' type='radio' name='add_person_1'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
                <label class='btn btn-outline-danger btn-sm add_person_1 personAdd active' data-val='No'><input class='form-control' type='radio' name='add_person_1'>No <i class="fa fa-times" aria-hidden="true"></i></label>
              </div>
            </div>
          </div>
          <div class="animated fadeInDown d-none" id="div_collect_1">
            <div class="row p-1">
              <div class="col-md-12 title"><span class="label label-default font-weight-bold">Segunda Persona Adicional</span></div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-6 title labelDiv modalDiv" id="label_authName_1"><span class="label label-default font-weight-bold">Persona autorizada para recoger al Estudiante</span></div>
              <div class="col-md-3 title labelDiv modalDiv" id="label_authDoc_1"><span class="label label-default font-weight-bold">N° de Documento</span></div>
              <div class="col-md-3 title labelDiv modalDiv" id="label_authMobile_1"><span class="label label-default font-weight-bold">N° de Celular</span></div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-6 inputGroupContainer">
                <div class="input-group"><input id="authName_1" placeholder="Nombre Completo" class="form-control form-control-sm" value="" type="text"></div>
              </div>
              <div class="col-md-3 inputGroupContainer">
                <div class="input-group"><input id="authDoc_1" placeholder="Documento" class="form-control form-control-sm" value="" type="text"></div>
              </div>
              <div class="col-md-3 inputGroupContainer">
                <div class="input-group"><input id="authMobile_1" placeholder="Celular" class="form-control form-control-sm" value="" type="text"></div>
              </div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-12 title">
                <span class="label label-default font-weight-bold">¿Desea agregar una tercera persona autorizada?</span>
              </div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-12 inputGroupContainer">
                <div class="btn-group" data-toggle="buttons">
                  <label class='btn btn-outline-success btn-sm add_person_2 personAdd' data-val='Si'><input class='form-control' type='radio' name='add_person_2'>Si <i class="fa fa-check" aria-hidden="true"></i></label>
                  <label class='btn btn-outline-danger btn-sm add_person_2 personAdd active' data-val='No'><input class='form-control' type='radio' name='add_person_2'>No <i class="fa fa-times" aria-hidden="true"></i></label>
                </div>
              </div>
            </div>
          </div>
          <div class="animated fadeInDown d-none" id="div_collect_2">
            <div class="row p-1">
              <div class="col-md-12 title"><span class="label label-default font-weight-bold">Tercera Persona Adicional</span></div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-6 title labelDiv modalDiv" id="label_authName_2"><span class="label label-default font-weight-bold">Persona autorizada para recoger al Estudiante</span></div>
              <div class="col-md-3 title labelDiv modalDiv" id="label_authDoc_2"><span class="label label-default font-weight-bold">N° de Documento</span></div>
              <div class="col-md-3 title labelDiv modalDiv" id="label_authMobile_2"><span class="label label-default font-weight-bold">N° de Celular</span></div>
            </div>
            <div class="row p-1 text-center">
              <div class="col-md-6 inputGroupContainer">
                <div class="input-group"><input id="authName_2" placeholder="Nombre Completo" class="form-control form-control-sm" value="" type="text"></div>
              </div>
              <div class="col-md-3 inputGroupContainer">
                <div class="input-group"><input id="authDoc_2" placeholder="Documento" class="form-control form-control-sm" value="" type="text"></div>
              </div>
              <div class="col-md-3 inputGroupContainer">
                <div class="input-group"><input id="authMobile_2" placeholder="Celular" class="form-control form-control-sm" value="" type="text"></div>
              </div>
            </div>
          </div>
          <div class="row p-1 text-center" id="">
            <p class="text-justify font-weight-bold">SI DESEA CAMBIAR A LA PERSONA AUTORIZADA, DEBERÁ ENVIAR UN MENSAJE A TRAVÉS DE LA COMUNIDAD VIRTUAL - MÓDULO COMUNICACIONES ADMINISTRATIVOS – SISTEMAS, CON LA INFORMACIÓN COMPLETA DE LA PERSONA QUE VA A RECOGER AL ESTUDIANTE: FECHA, NOMBRE COMPLETO Y NÚMERO DEL DOCUMENTO DE IDENTIDAD.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
