<div class="row p-1">
    <div class="col-md-12 alert alert-danger">
        <span class="label label-default">Seleccione el servicio que desea cancelar.</span>
    </div>
</div>

<!-- Primer servicio -->
<div id="cancelServicios" class="p-1">
    <div class="row p-1" style="justify-content: center; text-align: center;">
        <div class="col-md-4 d-none" id="medias3">
            <button type="button" style="width: 100%;" class="btn btn-outline-primary cancelbtn" name="bt1" value="1">Medias nueves</button>
        </div>
        <div class="col-md-4 d-none" id="almuerzo3">
            <button type="button" style="width: 100%;" class="btn btn-outline-primary cancelbtn" name="bt1" value="2">Almuerzo</button>
        </div>
        <div class="col-md-4 d-none" id="Transporte3">
            <button type="button" style="width: 100%;" class="btn btn-outline-primary cancelbtn" name="bt1" value="3">Transporte</button>
        </div>
    </div>
    <br>
    <div id="motivoCancel" class="d-none">
        <!-- Aquí se insersará el textarea dinámicamente -->
    </div>
</div>
<br>

<!-- Segundo servicio, se muestra después de seleccionar "Agregar otro servicio a cancelar" -->
<div id="otroServicio" class="d-none">
    <div id="cancelServicios" class="p-1">
        <div class="row p-1" style="justify-content: center; text-align: center;">
            <div class="col-md-4  d-none" id="medias2">
                <button type="button" style="width: 100%;" class="btn btn-outline-primary cancel2btn"  name="bt2" value="1">Medias nueves</button>
            </div>
            <div class="col-md-4  d-none" id="almuerzo2">
                <button type="button" style="width: 100%;" class="btn btn-outline-primary cancel2btn" name="bt2" value="2">Almuerzo</button>
            </div>
            <div class="col-md-4  d-none" id="Transporte2">
                <button type="button" style="width: 100%;" class="btn btn-outline-primary cancel2btn" name="bt2" value="3">Transporte</button>
            </div>
        </div>
    </div>
    <br>
    <div id="motivoCancel2">
        <!-- Aquí se insertará el segundo textarea dinámicamente -->
    </div>
</div>


<!-- Segundo servicio, se muestra después de seleccionar "Agregar otro servicio a cancelar" -->
<div id="otroServicio3" class="d-none">
    <div id="cancelServicios3" class="p-1">
        <div class="row p-1" style="justify-content: center; text-align: center;">
            <div class="col-md-4  d-none" id="medias1">
                <button type="button" style="width: 100%;" class="btn btn-outline-primary cancel3btn" name="bt3" value="1">Medias nueves</button>
            </div>
            <div class="col-md-4  d-none" id="almuerzo1">
                <button type="button" style="width: 100%;" class="btn btn-outline-primary cancel3btn" name="bt3" value="2">Almuerzo</button>
            </div>
            <div class="col-md-4  d-none" id="Transporte1">
                <button type="button" style="width: 100%;" class="btn btn-outline-primary cancel3btn" name="bt3" value="3">Transporte</button>
            </div>
        </div>
    </div>
    <br>
    <div id="motivoCancel3">
        <!-- Aquí se insertará el segundo textarea dinámicamente -->
    </div>    
</div>


<div class="row d-none" style="justify-content: start;" id="mostrarUltimo2">
    <div class="col-md-4">
        <button type="button" class="btn" style="color: #0069d9; background-color: transparent;" id="cancel3button">
            <p><i class="fa-solid fa-circle-plus fa-2x"></i>&nbsp;Agregar otro servicio a cancelar</p>
        </button>
    </div>
</div>



<div class="row d-none" style="justify-content: start;" id="mostrarUltimo">
    <div class="col-md-4">
        <button type="button" class="btn" style="color: #0069d9; background-color: transparent;" id="cancel1button">
            <p><i class="fa-solid fa-circle-plus fa-2x"></i>&nbsp;Agregar otro servicio a cancelar</p>
        </button>
    </div>
</div>


<br>

