<div class="container p-3">
  <div class="row p-3">
    <div class="card">
      <div class="card-header">
        <div class="card_tittle">
          <div class='row'>
            <div class="col-sm-12 col-md-12 col-xl-12 text-center tittleIcon h6 text-dark" >Bienvenidos</div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row p-1">
          <div class="col-md-12">  
            <p class="text-justify">Señores </br> PADRES DE FAMILIA</p>
            <p class="text-justify">Reciban un cordial saludo.</p>
            <p class="text-justify">Les solicitamos el favor de leer detenidamente la siguiente información.</p>
            <p class="text-justify">El colegio no presta el servicio de calentamiento de almuerzos en loncheras eléctricas y hornos microondas, por las siguientes razones</p>
            <ol type="a">
              <li><p class="text-justify">El colegio en su diseño no cuenta en su infraestructura con lugares adecuados ni personal idóneo para calentar almuerzos.</p></li>

              <li><p class="text-justify">Los salones de clase no están acondicionados ni cuentan con la asepsia necesaria para la manipulación de alimentos.</p></li>
              <li><p class="text-justify">La seguridad de los estudiantes prima en cualquier situación, los niños no pueden quedar solos manipulando loncheras eléctricas que pueden 
                provocar un accidente por recalentamiento, picos de energía o paso de corriente, etc. Los cables en el piso generan un riesgo en los desplazamientos.</p></li>
              <li><p class="text-justify">Al calentar alimentos en microondas pueden causar accidentes por el tipo de material de los recipientes, posibles explosiones dentro del electrodoméstico, quemaduras al coger o abrir el recipiente, 
                equivocación en el tiempo adecuado para calentar cada menú, contaminación de olores por la variedad de alimentos.</p></li>
                <li><p class="text-justify">Los padres de estudiantes que no toman el servicio de almuerzo con el colegio, son los únicos responsables de garantizar un menú saludable y de enviarlo en una lonchera térmica, que mantenga los alimentos con la temperatura adecuada para su consumo y que no requiera ser conectada a la energía eléctrica.</p></li>
            </ol>
            
           
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
