<div class="row p-1">
	<div class="col-md-12 alert alert-info">
		<span class="label label-default">Seleccione los estudiantes que desea agregar.</span>
	</div>
</div>
<div id="brothersSchool" class="p-1">
	<div class="row p-1">
		<div class="col-md-1 title"><span class="label label-default font-weight-bold">N°</span></div>
		<div class="col-md-3 title"><span class="label label-default font-weight-bold">Apellidos</span></div>
		<div class="col-md-3 title"><span class="label label-default font-weight-bold">Nombres</span></div>
		<div class="col-md-3 title"><span class="label label-default font-weight-bold">Curso</span></div>
		<div class="col-md-2 title"><span class="label label-default font-weight-bold">Seleccionar</span></div>
	</div>
</div>