<div class="card p-3">
    <div class="card-title">
      <h5>Verificación de Información</h5>
      <p class="text-justify">Antes de iniciar el proceso de firma, le solicitamos que valide la siguiente información. Si encuentra algún error o si necesita realizar un cambio de última hora, por favor envíe un correo electrónico a admisionesymatriculas@caa.edu.co para recibir asistencia y continuar con el proceso.</p>
    </div>

</div>

<div class="card">
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button information" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">Deudor</button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body" id="dataDeudor"></div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header information">
        <button class="accordion-button information" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">Codeudor</button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
        <div class="accordion-body" id="dataCodebtor"></div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header information">
        <button class="accordion-button information" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">Servicios</button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
        <div class="accordion-body" id="dataServices"></div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header information">
        <button class="accordion-button information" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFourd" aria-expanded="true" aria-controls="panelsStayOpen-collapseFourd">Información adicional</button>
      </h2>
      <div id="panelsStayOpen-collapseFourd" class="accordion-collapse collapse show">
        <div class="accordion-body" id="">
          <p class="text-justify">Si requiere asistencia en el proceso, pueden comunicarse así: 
            <ul>
              <li>Admisiones y Matrículas: 3136980168</li>
              <li>Sistemas: 3174058211.</li>
              <li>Correo electrónico: admisionesymatriculas@caa.edu.co</li>
            </ul>
          </p>
          <p style="text-align: end;">¿Desea firmar los documentos con la información registrada?</p>
        </div>
      </div>
    </div>

  </div>
</div>

<style>
  .information {
    background: #002c5d;
    color: #ffffff;
  }
</style>

